[Desktop Entry]
Name=QEMU
Exec=qemu-system-x86_64
Icon=qemu.svg
StartupWMClass=qemu
Comment="A generic and open source machine & userspace emulator and virtualizer"
Type=Application
Terminal=false
Keywords=Emulator;Virtualization;KVM;
Categories=System;
